* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#top {
    display: flex;
    max-width: 100vh;
    height: 70px;
    align-items: stretch;
}

#container {
    /*border-left: 70px solid rebeccapurple;
    /*border-right: 70px solid rebeccapurple;*/
    border-radius: 20px;
    border: 70px solid rebeccapurple;
    display: flex;
    max-width: 100vh;
    height: 80vh;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.row {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

.box {
    display: flex;
    background-color: rgb(138, 44, 226);
    flex-grow: 1;
}

.draw {
    display: flex;
    background-color: palevioletred;
    flex-grow: 1;
}