* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#outerContainer {
    background-color: rebeccapurple;
    border-radius: 20px;
    display: flex;
    max-width: 100vh;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
}

#top {
    display: flex;
    align-items: center;
    height: 120px;
    color: green;
    font-size: 80px;
    font-family:'Courier New', Courier, monospace ;
    font-weight: 900;
    gap: 200px;
}

#emoticon {
    color: gold;
    font-family: cursive;
    font-size: 60px;
    align-self: flex-end;
}

#bottom {
    display: flex;
    align-items:center;
    height: 120px;
    color: silver;
    font-size: 35px;
    font-family: cursive, lucida ;
    align-content: space-between;
    gap: 200px;
}

#container {
    border-left: 120px solid rebeccapurple;
    border-right: 120px solid rebeccapurple;
    display: flex;
    width: 100vh;
    max-height: 100vh;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.row {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    cursor: pointer;


}

.box {
  display: flex;
  background-color: rgb(138, 44, 226);
  flex-grow: 1;
  border: 1px inset white;
}

.draw {
  display: flex;
  background-color: palevioletred;
  flex-grow: 1;
  border: 1px outset white;
  transition:ease-in .7s;
}

.slidecontainer {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background: black;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  #demo {
      display: flex;
      font-size: 40px;
  }

  p {
    display: flex;
    font-size: 40px;
    width: 500px;
    gap: 5px;
}